@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,100,700,900);
 @import url(http://fonts.googleapis.com/css?family=Skranji);
 @import url(http://fonts.googleapis.com/css?family=Montserrat);
 body {
    background-image: url('../img/bg.png');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-position: top left, center 0;
    background-attachment: fixed, fixed;
    font-family:'Roboto';
    color: #e2dede;
}
body.is-scroll {
    background-attachment: scroll, scroll;
    background-size: auto, 100% auto;
}
body.is-loading * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
li, ul {
    list-style-type: none;
}
.thin {
    font-weight: 300;
}
.center {
    text-align: center;
}
#logo {
    font-family:'Skranji';
    font-size: 40px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #2C1F04;
    text-shadow: -1px 1px 0 #5E453B;
}
.welcometitle {
    font-family:'Montserrat';
    text-align: center;
    color: white;
    padding-top: 1%;
    /*margin-top: 35px;*/
}
#class-group {
    padding-top:15px;
}
#logo img {
   height: 60px;
}
#logo:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #FFEE75;
    background: none;
    text-shadow: 0px 0px 9px rgb(255, 133, 45);
}
a {
    color: #D7BD0F;
    cursor: pointer;
}
.navbar-collapse.collapse {
    border-bottom: 1px solid #202330;
    background: -webkit-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
    
    background: -o-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
    
    background: -moz-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
   
    background: linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
    
}
.nav > li > a {
    font-size: 18px;
    color: #2C1F04;
    text-shadow: -1px 1px 0 #5E453B;
}
.nav > li > a >span {
    margin-right: 3px;
 
}
.nav > li > a:not(#logo):hover, .nav > li > a:not(#logo):focus {
    background-color: transparent;
    text-shadow: -1px 0px 5px #B0490A;
    box-shadow: 0px 0px 22px rgba(68, 36, 0, 0.74) inset;
    color: #E0C083;
    border-left:1px solid #422F0B;
    border-right:1px solid #422F0B;
}
.frame {
    max-width: 70%;
    margin: 0 auto;
    padding: 8%;
    background: url('../img/frame.png') center center no-repeat;
    margin-top: 30px;
    background-color: transparent;
    background-size: contain;
    background-position: fixed;
    padding-top:0;
}
.centered {
    margin: 0 auto;
}
.top {
    padding-top: 30px;
}
html, body {
    height: 100%;
}
.content-frame {
    background: #241C18;
    padding: 2em;
    border-image: url("../img/frame1.png") 17 20 stretch;
    border-width: 17px 20px;
    box-shadow: inset 0px 0px 100px #080601;
}
.text-muted {
    color: #aaa2a5 !important;
}
.dropdown-menu {
    background-color: #342E2A;
}
.no-padding {
    padding: 0;
}
.ui-select {
   
    font-family:'Montserrat';
    margin: 0 auto;
    z-index: 10;
    
}
.ui-select span:hover {
    color: white;
}
.ui-select > button {
      background: #422C1D;
    color: #DABC86;
    font-family:'Montserrat';
    border: 2px solid #80520B;
    border-radius: 2px;
}
.ui-select-bootstrap .ui-select-choices-row>a {

    color: #b5afb5 !important;
}
ui-select-bootstrap .ui-select-choices-row>a:hover {

    color: white !important;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: #735FAD !important;
}
.ui-select-bootstrap > .ui-select-choices {
max-height: 350px !important; 
}
.start-content {
    margin-top: 2%;
    margin-left: 4%;
}
.place-card {
    height: 350px;
}
.place-card img {
    height: 350px;
}
.cardclick {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.cardclick:hover {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.15, 1.15);
    transform: translateZ(0) scale(1.15, 1.15);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.cardback {
    margin-left: -13px;
}
.stats {
    padding-top: 3%;
    padding-bottom:3%;
}
.class img {
    border-radius: 50%;
    border: 5px solid #6F4F34;
    width: 150px;
    margin: 0 auto;
    display: block;
}
.classname {
    margin-top: 5px;
    text-align: center;
    font-family:'Montserrat';
    color: #1B1105;
    font-weight: 800;
    text-shadow: -1px 0px rgb(137, 119, 103), 0px 1px rgb(137, 119, 103), 1px 0px rgb(137, 119, 103), 0px -1px rgb(137, 119, 103);
}
.cardpick h4{
    font-family: 'Montserrat';

    text-shadow: -1px 0px rgb(184, 180, 174), 0px 1px rgb(184, 180, 174), 1px 0px rgb(184, 180, 174), 0px -1px rgb(184, 180, 174);
    color: #443211;
}
.cardpick p{
    font-family: 'Roboto';
    font-weight: 800;
    color: #A87842;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
    font-size: 16px;
}
.deck:hover:before {
    content:'';
    display: block;
    height: 100px;
    /* image height */
    position: absolute;
    top: 0;
    right: 0;
}

#deckdiv {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

.deck {
    background: #eeeeee;
    border: 1px solid #6E5233;
    margin-bottom: 2px;
    font-size: 12px;
    font-family:'Montserrat';
    color: #301F10;
    overflow: hidden;
    height: 25px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
    
}
.deck-caption {
    padding: 0px;
    position: absolute;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    font-size: 12px;
    margin-left: -10px;
    margin-top: -1px;
    background: url('../img/cost-bg.png') no-repeat scroll 0px -1px rgba(0, 0, 0, 0);
}
.deck-cost {
    margin-right: 0px;
    float: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
    text-align: center;
    width: 27px;
    font-size: 16px;
    padding: 2px 0px;
    font-family:'Roboto';
}
.deck-pic {
    width: 85px;
    height: 24px;
    background-repeat: no-repeat;
}
.deck-fade {
    background: -moz-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#00ffffff', GradientType=1);
    height: 100%;
    width: 40%;
}
#deckcount {
    background: url('../img/bar.png') center center no-repeat;
    background-size: 100% 100%;
}
#deckcount > p {
    text-align: center;
    font-family:'Montserrat';
    color: #1B1105;
    font-weight: 800;
    text-shadow: -1px 0px rgb(137, 119, 103), 0px 1px rgb(137, 119, 103), 1px 0px rgb(137, 119, 103), 0px -1px rgb(137, 119, 103);
}
#deckcount>p >span {
    color: #A87842;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
}
div#deckcount p:first-child {
    padding-top:20px;
    margin-bottom:0;
}
div#deckcount p:last-child {
    padding-bottom: 20px;
}
.bar {
    min-height: 140px;
    padding: 0px;
    margin: 5px;
    width: 20px;
    border-radius: 2px;
    border: 2px solid rgba(67, 67, 76, 0.78);
    margin-left: 10px;
    display: inline;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    
}
.barfill {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(left, #4424D8, rgb(169, 88, 182), rgb(0, 46, 108));
    background: -o-linear-gradient(right, #4424D8, rgb(169, 88, 182), rgb(0, 46, 108));
    background: -moz-linear-gradient(right, #4424D8, rgb(169, 88, 182), rgb(0, 46, 108));
    background: linear-gradient(to right, #4424D8, rgb(169, 88, 182), rgb(0, 46, 108));
}
.barfill > p {
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    font-family: 'Montserrat';

text-align: center;
font-size: 12px;
padding-bottom: 140px;
color: #A59AB6;
    
}
#effectcol h4 {
    margin-top: 0;
padding-left: 0;
font-family: 'Roboto';
text-align: center;
color: #1B1105;
font-weight: 800;
text-shadow: -1px 0px rgb(137, 119, 103), 0px 1px rgb(137, 119, 103), 1px 0px rgb(137, 119, 103), 0px -1px rgb(137, 119, 103);
}
#effectcol p {
    font-family: 'Montserrat';
}
.badge {
    font-family: 'Roboto';
    background-color: #735FAD;
}
.manaCost {
   color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
font-size: 14px;
padding: 4px;
margin: 3.5px;
width: 28.5px;
background: url('../img/cost-bg.png') no-repeat scroll;
text-align: center;
    
}

.modal .modal-content {
    -webkit-filter: none !important;
     -moz-filter: none !important;
		    -ms-filter: none !important;
		     -o-filter: none !important;
		        filter: nonw !important;
    
}
#modal {
    background: #342E2A;
}
.modal-header {
    font-family: 'Montserrat';
    background: #735FAD;
    text-align: center;
    border-bottom: none;
}
.modal-title {
    line-height: initial;
}
.form-control:focus {
border-color: #794EE4;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(201, 95, 224, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(188, 87, 223, 0.6);
}
.styling-btn {
    background: #735FAD;
    /*background: -moz-linear-gradient(top, #A359E7 5%, #372177 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#A359E7), color-stop(100%,#372177));
    box-shadow: inset 0px 0px 6px #3E4BA1;
    -webkit-box-shadow: inset 0px 0px 6px #3E4BA1;*/
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #E2DEDE;
    text-shadow: 0px 1px 2px #7A4BED;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin: 3%;
    margin-bottom: 2%;
  
}
.styling-btn:hover {
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#6B38C2), color-stop(100%,#603184));
color: rgb(219, 214, 214);
background: -moz-linear-gradient(top, #6B38C2 5%, #603184 100%);*/
   
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background: #8E672C;
color: rgb(200, 191, 181);

text-shadow: 0px 1px 2px #3D2B03;
}
.form-group label {
    font-family:'Montserrat';
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
    
}

.modal-backdrop, .modal-backdrop.fade.in {
     -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 0.7;
    /*filter: blur grayscale(50%);*/
 /* -webkit-filter: blur(5px) grayscale(50%);
     -moz-filter: blur(5px) grayscale(50%);
		    -ms-filter: blur(5px) grayscale(50%);
		     -o-filter: blur(5px) grayscale(50%);
		        filter: blur(5px) grayscale(50%);*/

}
.modal-body p {
    font-family: "Roboto";
text-align: center;
font-size: 16px;
padding: 5px;
}
.classimgdiv img{
    height: 200px;
}
.runcontainer {
    padding: 3%;
}
.winloss-input {
   
text-align: center;
font-family: 'Roboto';
font-weight: 800;
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#A359E7), color-stop(100%,#372177));
box-shadow: inset 0px 0px 6px #3E4BA1;
-webkit-box-shadow: inset 0px 0px 6px #3E4BA1;
border: none;*/
color: rgb(234, 233, 234);
text-shadow: 0px 1px #0F106C;
   
background: rgba(115, 95, 173, 0.4);
border-radius: 30px;
border: 3px solid #735FAD;
box-shadow: inset 0 0 15px #1D1535;
   
}
.number-group {
    padding-top: 15px;
}
.winloss-group label, input {
     padding: 5px;
    
}
.winloss-group {
   margin: 5px;
}
.runtitle {
    font-family: 'Montserrat';
text-shadow: -1px 0px rgb(184, 180, 174), 0px 1px rgb(184, 180, 174), 1px 0px rgb(184, 180, 174), 0px -1px rgb(184, 180, 174);
color: #443211;
    text-align:center;
}
.username {
    font-family: 'Montserrat';
    color: #F9F9F9;
text-transform: capitalize;
font-size: 120%;
}
.updateBtn{
    text-align: center;
padding: 10px 17px 10px 17px;
font-family: 'Montserrat';
color: #C2A871;
border-radius: 7px;
background: -webkit-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
background: -o-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
background: -moz-linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
background: linear-gradient(rgb(174, 112, 29), #5A3812, rgb(41, 26, 47));
border: 3px solid #64380E;
font-size: 120%;
font-weight: 800;
text-shadow: 1px 1px #221630;
    margin-top: 15px;
}
.updateBtn:hover {
    background: -webkit-linear-gradient(rgb(242, 189, 49), #9E5D14, rgb(90, 40, 13));
background: -o-linear-gradient(rgb(242, 189, 49), #9E5D14, rgb(90, 40, 13));
background: -moz-linear-gradient(rgb(242, 189, 49), #9E5D14, rgb(90, 40, 13));
background: linear-gradient(rgb(242, 189, 49), #9E5D14, rgb(90, 40, 13));
color: #D0BE05;
text-shadow: 1px 1px 5px #D77300;
}
}
